<div class="main-content">
    <div class="container-fluid">
        <h3 class="card-title">Statistical table</h3>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">assignment_ind</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Bookings</p>
                        <h3 class="card-title">5</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <i class="material-icons">note_add</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Total rooms</p>
                        <h3 class="card-title">20</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="green">
                        <i class="material-icons">hourglass_empty</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Empty rooms</p>
                        <h3 class="card-title">13</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!--Notification-->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Notifications</h4>
                    </div>
                    <div class="card-content">
                        <ul class="nav nav-pills nav-pills-success">
                            <li class="active">
                                <a href="#pill1" data-toggle="tab">New</a>
                            </li>
                            <li>
                                <a href="#pill2" data-toggle="tab" (click)='loadNotifyOld()'>Old</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="pill1">
                                <div class="alert alert-danger alert-with-icon" data-notify="container" *ngFor='let item of notifynew'>
                                    <i class="material-icons" data-notify="icon">notifications</i>
                                    <span class="text-right" data-notify="message">{{item.date |amTimeAgo}}</span>
                                    <button type="button" aria-hidden="true" class="close">
                                        <a href="#" [routerLink]="['/dashboard/notifications/detail/'+ item._id]" class="btn btn-simple btn-icon"><i class="material-icons">dvr</i></a>
                                    </button>
                                    <span data-notify="message">{{item.description}}</span>
                                </div>
                                <div *ngIf='notifynew?.length==0' style="color: red">Không có thông báo nào</div>
                            </div>
                            <div class="tab-pane" id="pill2">
                                <div class="alert alert-primary alert-with-icon" data-notify="container" *ngFor='let itemold of notifyold'>
                                    <i class="material-icons" data-notify="icon">notifications</i>
                                    <span class="text-right" data-notify="message">{{itemold.date |amTimeAgo}}</span>
                                    <button type="button" aria-hidden="true" class="close">
                                        <a href="#" [routerLink]="['/dashboard/notifications/detail/'+ itemold._id]" class="btn btn-simple btn-icon"><i class="material-icons">dvr</i></a>
                                    </button>
                                    <span data-notify="message">{{itemold.description}}</span>
                                </div>
                                <div *ngIf='notifyold?.length==0' style="color: red">Không có thông báo nào</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Guide-->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Guide</h4>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="picture">
                                    <img src="../../assets/img/hd-01.png" alt="Thumbnail Image" class="img-rounded img-responsive">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <strong>1. Create a house</strong>
                                <p>You can create a new house in ManagePosts, then you fill in the form at Tag New Post. You
                                    can update this information in Tag Detail House.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div><br></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="picture">
                                    <img src="../../assets/img/hd-02.png" alt="Thumbnail Image" class="img-rounded img-responsive">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <strong>2. Create new Room's type</strong>
                                <p>Next step, you must create new kind of rooms in Tag ManagerRooms. In this, it has number
                                    of rooms, then, room will automatic create.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div><br></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="picture">
                                    <img src="../../assets/img/hd-03.png" alt="Thumbnail Image" class="img-rounded img-responsive">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <strong>3. Create new Room</strong>
                                <p>Final step, you must create new rooms in Tag ManagerRooms</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>