<div class="main-content">
    <div class="container-fluid">
        <h3 class="card-title">Statistical table</h3>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">assignment_ind</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Bookings</p>
                        <h3 class="card-title">5</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <i class="material-icons">note_add</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Total rooms</p>
                        <h3 class="card-title">20</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="green">
                        <i class="material-icons">hourglass_empty</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Empty rooms</p>
                        <h3 class="card-title">13</h3>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-md-12 text-center">
                <button class="btn btn-raised btn-round btn-info" data-toggle="modal" data-target="#noticeModal">
                                    Guide
                                </button>
                <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-notice">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                                <h5 class="modal-title" id="myModalLabel">How Do You Use This App?</h5>
                            </div>
                            <div class="modal-body">
                                <div class="instruction">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <strong>1. Create a house</strong>
                                            <p>You can create a new house in ManagePosts, then you fill in the form at Tag New Post. You can update this information in Tag Detail House.</p>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="picture">
                                                <img src="../../assets/img/card-1.jpeg" alt="Thumbnail Image" class="img-rounded img-responsive">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="instruction">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <strong>2. Create new Room's type</strong>
                                            <p>Next step, you must create new kind of rooms in Tag ManagerRooms. In this, it has number of rooms, then, room will automatic create.</p>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="picture">
                                                <img src="../../assets/img/card-2.jpeg" alt="Thumbnail Image" class="img-rounded img-responsive">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p>Final, you can manager your house easily by this web application</p>
                            </div>
                            <div class="modal-footer text-center">
                                <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Great!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-md-6">
                <!--<div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Notifications</h3>
                    </div>
                    <div class="card-content">
                        <div class="alert alert-danger alert-with-icon" data-notify="container">
                            <i class="material-icons" data-notify="icon">notifications</i>
                            <button type="button" aria-hidden="true" class="close">
                                <i class="material-icons">close</i>
                            </button>
                            <span data-notify="message">Thu tiền nhà tháng 5</span>
                            <span type="button" aria-hidden="true" class="close">3 phút</span>
                        </div>
                        <div class="alert alert-primary alert-with-icon" data-notify="container">
                            <i class="material-icons" data-notify="icon">notifications</i>
                            <button type="button" aria-hidden="true" class="close">
                                <i class="material-icons">close</i>
                            </button>
                            <span data-notify="message">Nguyễn Trọng Nghĩa đã đặt phòng P03 của bạn</span>
                            <span type="button" aria-hidden="true" class="close">3 ngày</span>
                        </div>
                    </div>
                </div>-->
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Notifications</h4>
                    </div>
                    <div class="card-content">
                        <ul class="nav nav-pills nav-pills-success">
                            <li class="active">
                                <a href="#pill1" data-toggle="tab">New</a>
                            </li>
                            <li>
                                <a href="#pill2" data-toggle="tab">Old</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="pill1">
                                <div class="alert alert-danger alert-with-icon" data-notify="container">
                                    <i class="material-icons" data-notify="icon">notifications</i>
                                    <span class="text-right" data-notify="message">3 phút</span>
                                    <button type="button" aria-hidden="true" class="close">
                                <a href="#" class="btn btn-simple btn-icon"><i class="material-icons">dvr</i></a>
                                <i class="material-icons">done</i>
                            </button>
                                    <span data-notify="message">Thu tiền nhà tháng 5</span>
                                    <!--<span class="text-right" data-notify="message">3 phút</span>-->
                                </div>
                                <div class="alert alert-primary alert-with-icon" data-notify="container">
                                    <i class="material-icons" data-notify="icon">notifications</i>
                                    <span class="text-right" data-notify="message">3 ngày</span>
                                    <button type="button" aria-hidden="true" class="close">
                                <a href="#" class="btn btn-simple btn-icon"><i class="material-icons">dvr</i></a>
                                <i class="material-icons">done</i>
                            </button>
                                    <span data-notify="message">Nguyễn Trọng Nghĩa đã đặt phòng P03 của bạn</span>
                                    <!--<span class="text-right" data-notify="message">3 ngày</span>-->
                                </div>
                            </div>
                            <div class="tab-pane" id="pill2">
                                <div class="alert alert-danger alert-with-icon" data-notify="container">
                                    <i class="material-icons" data-notify="icon">notifications</i>
                                    <span class="text-right" data-notify="message">3 phút</span>
                                    <button type="button" aria-hidden="true" class="close">
                                <a href="#" class="btn btn-simple btn-icon"><i class="material-icons">dvr</i></a>
                                <i class="material-icons">close</i>
                            </button>
                                    <span data-notify="message">Thu tiền nhà tháng 5</span>
                                    <!--<span class="text-right" data-notify="message">3 phút</span>-->
                                </div>
                                <div class="alert alert-primary alert-with-icon" data-notify="container">
                                    <i class="material-icons" data-notify="icon">notifications</i>
                                    <span class="text-right" data-notify="message">3 ngày</span>
                                    <button type="button" aria-hidden="true" class="close">
                                <a href="#" class="btn btn-simple btn-icon"><i class="material-icons">dvr</i></a>
                                <i class="material-icons">close</i>
                            </button>
                                    <span data-notify="message">Nguyễn Trọng Nghĩa đã đặt phòng P03 của bạn</span>
                                    <!--<span class="text-right" data-notify="message">3 ngày</span>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="modal-dialog modal-notice">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                            <h5 class="modal-title" id="myModalLabel">How Do You Use This App?</h5>
                        </div>
                        <div class="modal-body">
                            <div class="instruction">
                                <div class="row">
                                    <div class="col-md-8">
                                        <strong>1. Create a house</strong>
                                        <p>You can create a new house in ManagePosts, then you fill in the form at Tag New Post. You can update this information in Tag Detail House.</p>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="picture">
                                            <img src="../../assets/img/card-1.jpeg" alt="Thumbnail Image" class="img-rounded img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="instruction">
                                <div class="row">
                                    <div class="col-md-8">
                                        <strong>2. Create new Room's type</strong>
                                        <p>Next step, you must create new kind of rooms in Tag ManagerRooms. In this, it has number of rooms, then, room will automatic create.</p>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="picture">
                                            <img src="../../assets/img/card-2.jpeg" alt="Thumbnail Image" class="img-rounded img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="instruction">
                                <div class="row">
                                    <div class="col-md-8">
                                        <strong>3. Create new Room</strong>
                                        <p>Final step, you must create new rooms in Tag ManagerRooms</p>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="picture">
                                            <img src="../../assets/img/card-2.jpeg" alt="Thumbnail Image" class="img-rounded img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>Final, you can manager your house easily by this web application</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>