<!-- Left Side Navigation -->

<div id="leftSide">
  <nav class="leftNav scrollable">
    <div class="search">
      <span class="searchIcon icon-magnifier"></span>
      <input type="text" placeholder="Search for houses, apartments...">
      <div class="clearfix"></div>
    </div>
    <ul>
      <li><a [routerLink]="['/details/search-details']"><span class="navIcon icon-compass"></span><span class="navLabel">Search</span></a></li>
      <li *ngIf='auth.loggedIn()'><a [routerLink]="['/details/profile']"><span class="navIcon icon-bag"></span><span class="navLabel">Profile</span></a></li>
      <li *ngIf='!auth.loggedIn()'><a href="javascript:void(0)" data-toggle="modal" href="#signin"><span class="navIcon icon-login"></span><span class="navLabel">Log In</span></a></li>
      <li *ngIf='auth.loggedIn()'><a [routerLink]="['/']" (click)="auth.logout()"><span class="navIcon icon-power"></span><span class="navLabel">Log Out</span></a></li>
    </ul>
  </nav>
</div>
<div class="closeLeftSide" style="height: 686px; display: none;"></div>