<!-- Left Side Navigation -->

<div id="leftSide">
  <nav class="leftNav scrollable">
    <div class="search">
      <span class="searchIcon icon-magnifier"></span>
      <input type="text" placeholder="Search for houses, apartments...">
      <div class="clearfix"></div>
    </div>
    <ul>
      <li><a href="explore.html"><span class="navIcon icon-compass"></span><span class="navLabel">Explore</span></a></li>
      <li><a [routerLink]="['/details/profile']"><span class="navIcon icon-home"></span><span class="navLabel">Profile</span></a></li>
      <li><a href="signin.html"><span class="navIcon icon-login"></span><span class="navLabel">Sign In</span></a></li>
      <li><a href="signup.html"><span class="navIcon icon-note"></span><span class="navLabel">Sign Up</span></a></li>
    </ul>
  </nav>
</div>