<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="card card-content text-center">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">vpn_key</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Change Password</h4>
                        <form class="form-horizontal" #f="ngForm" (ngSubmit)="ngSubmit(f)">
                            <div class="row">
                                <label class="col-md-3 label-on-left">Old Password</label>
                                <div class="col-md-9">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="password" class="form-control" required name="password" [(ngModel)]="landlord.password">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 label-on-left">New Password</label>
                                <div class="col-md-9">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="password" class="form-control" required name="newpassword" [(ngModel)]="landlord.newpassword">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3"></label>
                                <div class="col-md-9">
                                    <div class="form-group form-button">
                                        <button type="submit" [disabled]="!f.form.valid" class="btn btn-fill btn-rose">Change</button>
                                        <button type="cancel" class="btn btn-fill btn-behance" [routerLink]="['/dashboard/home']">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>