<div class="modal fade" id="action" role="dialog" aria-labelledby="actionLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="actionLabel">Action</h4>
      </div>
      <div class="modal-body">
        <!--<div class="mobAvatar">
          <img class="avatar mobAvatarImg" src="../assets/images/avatar-1.png" alt="avatar">
          <div class="mobAvatarName">John Smith</div>
        </div>-->
        <div class="form-group">
          <div class="btn-group-justified">
            <a class="btn btn-o btn-info" routerLink='/details/profile' (click)='closemodal()'><span class="icon-user pull-left" style="font-size: 20px"></span>Trang cá nhân</a>
          </div>
        </div>
        <!--<div class="form-group">
          <div class="btn-group-justified">
            <a class="btn btn-o btn-red"><span class="icon-bell pull-left" style="font-size: 20px"></span>Thông báo </a>
          </div>
        </div>
        <div class="form-group">
          <div class="btn-group-justified">
            <a class="btn btn-o btn-magenta"><span class="icon-home pull-left" style="font-size: 20px"></span>Track House</a>
          </div>
        </div>-->
        <div class="form-group">
          <div class="btn-group-justified">
            <a class="btn btn-o btn-gray" (click)="signout()"><span class="icon-power pull-left" style="font-size: 20px"></span>Đăng xuất</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>