<!-- Header -->
<div id="header">
  <div class="logo">
    <!--<a [routerLink]="['/']">-->
    <a href="#">
      <span class="fa fa-home marker"></span>
      <span class="logoText" style="margin-left: 12px"><strong >FLS</strong></span>
    </a>
  </div>
  <a href="javascript:void(0)" class="navHandler"><span class="fa fa-bars"></span></a>
  <div class="search">
    <span class="searchIcon icon-magnifier"></span>
    <input type="text" placeholder="Search for houses, apartments...">
  </div>
  <div class="headerUserWraper">
    <a href="#" class="userHandler dropdown-toggle" data-toggle="dropdown"><span class="icon-user"></span><span class="counter">5</span></a>
    <a href="#" class="headerUser dropdown-toggle" data-toggle="dropdown">
      <img class="avatar headerAvatar pull-left" src="./assets/images/avatar-1.jpg" alt="avatar">
      <div class="userTop pull-left">
        <span class="headerUserName">Hoàng Kim Ngân</span> <span class="fa fa-angle-down"></span>
      </div>
      <div class="clearfix"></div>
    </a>
    <div class="dropdown-menu pull-right userMenu" role="menu">
      <div class="mobAvatar">
        <img class="avatar mobAvatarImg" src="./assets/images/avatar-1.jpg" alt="avatar">
        <div class="mobAvatarName">Hoàng Kim Ngân</div>
      </div>
      <ul>
        <li><a href="#"><span class="icon-settings"></span>Settings</a></li>
        <li><a [routerLink]="['/details/profile']"><span class="icon-user"></span>Profile</a></li>
        <li><a href="#"><span class="icon-bell"></span>Notifications <span class="badge pull-right bg-red">5</span></a></li>
        <li class="divider"></li>
        <li><a href="#"><span class="icon-power"></span>Logout</a></li>
      </ul>
    </div>
  </div>
  <div class="headerNotifyWraper">
    <a href="#" class="headerNotify dropdown-toggle" data-toggle="dropdown">
      <span class="notifyIcon icon-bell"></span>
      <span class="counter">5</span>
    </a>
    <div class="dropdown-menu pull-right notifyMenu" role="menu">
      <div class="notifyHeader">
        <span>Notifications</span>
        <a href="#" class="notifySettings icon-settings"></a>
        <div class="clearfix"></div>
      </div>
      <ul class="notifyList">
        <li>
          <a href="#">
            <img class="avatar pull-left" src="./assets/images/avatar-1.jpg" alt="avatar">
            <div class="pulse border-grey"></div>
            <div class="notify pull-left">
              <div class="notifyName">Sed ut perspiciatis unde</div>
              <div class="notifyTime">5 minutes ago</div>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="notifyRound notifyRound-red fa fa-envelope-o"></div>
            <div class="pulse border-red"></div>
            <div class="notify pull-left">
              <div class="notifyName">Lorem Ipsum is simply dummy text</div>
              <div class="notifyTime">20 minutes ago</div>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="notifyRound notifyRound-yellow fa fa-heart-o"></div>
            <div class="pulse border-yellow"></div>
            <div class="notify pull-left">
              <div class="notifyName">It is a long established fact</div>
              <div class="notifyTime">2 hours ago</div>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="notifyRound notifyRound-magenta fa fa-paper-plane-o"></div>
            <div class="pulse border-magenta"></div>
            <div class="notify pull-left">
              <div class="notifyName">There are many variations</div>
              <div class="notifyTime">1 day ago</div>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
      </ul>
      <a href="#" class="notifyAll">See All</a>
    </div>
  </div>
  <a href="#" class="mapHandler"><span class="icon-map"></span></a>
  <div class="clearfix"></div>
</div>