<!-- Footer -->

<div class="home-footer">
  <div class="home-wrapper">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="osLight footer-header">Company</div>
        <ul class="footer-nav pb20">
          <li><a href="#">About</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Policies</a></li>
          <li><a href="#">Terms & Privacy</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="osLight footer-header">Discover</div>
        <ul class="footer-nav pb20">
          <li><a href="#">Become a Member</a></li>
          <li><a href="#">Properties List</a></li>
          <li><a href="#">Sign In</a></li>
          <li><a href="#">Widgets</a></li>
          <li><a href="#">Components</a></li>
          <li><a href="#">Tables</a></li>
          <li><a href="#">Lists</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="osLight footer-header">Get in Touch</div>
        <ul class="footer-nav pb20">
          <li class="footer-phone"><span class="fa fa-phone"></span> 0121 212 1212</li>
          <li class="footer-address osLight">
            <p>Số 1 đường Võ Văn Ngân</p>
            <p>Linh Chiểu, Thủ Đức</p>
            <p>TP Hồ Chí Minh</p>
          </li>
          <li><a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-white"><span class="fa fa-facebook"></span></a> <a href="#"
              class="btn btn-sm btn-icon btn-round btn-o btn-white"><span class="fa fa-twitter"></span></a>
            <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-white"><span class="fa fa-google-plus"></span></a>            <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-white"><span class="fa fa-linkedin"></span></a> </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="osLight footer-header">Subscribe to Our Newsletter</div>
        <form role="form">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email Address">
          </div>
          <div class="form-group">
            <a href="#" class="btn btn-green btn-block">Subscribe</a>
          </div>
        </form>
      </div>
    </div>
    <div class="copyright">Find somewhere live web application<br> &copy; 2017</div>
  </div>
</div>

<div class="modal fade" id="signin" role="dialog" aria-labelledby="signinLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="signinLabel">Sign In</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <div class="btn-group-justified">
              <a href="explore.html" class="btn btn-lg btn-facebook"><span class="fa fa-facebook pull-left"></span>Sign In with Facebook</a>
            </div>
          </div>
          <div class="form-group">
            <div class="btn-group-justified">
              <a href="explore.html" class="btn btn-lg btn-google"><span class="fa fa-google-plus pull-left"></span>Sign In with Google</a>
            </div>
          </div>
          <div class="signOr">OR</div>
          <div class="form-group">
            <input type="text" placeholder="Email Address" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control">
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-6">
                <div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Remember me</label></div>
              </div>
              <div class="col-xs-6 align-right">
                <p class="help-block"><a href="#" class="text-green">Forgot password?</a></p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="btn-group-justified">
              <a href="explore.html" class="btn btn-lg btn-green">Sign In</a>
            </div>
          </div>
          <p class="help-block">Don't have an account? <a href="#" class="modal-su text-green">Sign Up</a></p>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="signup" role="dialog" aria-labelledby="signupLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="signupLabel">Sign Up</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <div class="btn-group-justified">
              <a href="explore.html" class="btn btn-lg btn-facebook"><span class="fa fa-facebook pull-left"></span>Sign Up with Facebook</a>
            </div>
          </div>
          <div class="form-group">
            <div class="btn-group-justified">
              <a href="explore.html" class="btn btn-lg btn-google"><span class="fa fa-google-plus pull-left"></span>Sign Up with Google</a>
            </div>
          </div>
          <div class="signOr">OR</div>
          <div class="form-group">
            <input type="text" placeholder="First Name" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Last Name" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Email Address" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Confirm Password" class="form-control">
          </div>
          <div class="form-group">
            <div class="btn-group-justified">
              <a href="explore.html" class="btn btn-lg btn-green">Sign Up</a>
            </div>
          </div>
          <p class="help-block">Already a FSL member? <a href="#" class="modal-si text-green">Sign In</a></p>
        </form>
      </div>
    </div>
  </div>
</div>