<div class="row pb40">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let item of listhomehouses">
    <a [routerLink]="['/details/detail-house/'+ item._id]" class="propWidget-2">
      <div class="fig">
        <img src="{{item.image}}" alt="Modern Residence in New York">
        <!--<img src="./assets/images/prop/1-1.png" alt="Modern Residence in New York">-->
        <img class="blur" src="{{item.image}}" alt="Modern Residence in New York">
        <!--<img class="blur" src="./assets/images/prop/1-1.png" alt="Modern Residence in New York">-->
        <div class="opac"></div>
        <div class="priceCap osLight"><span>{{item.price |currency:'VND':true}}</span></div>
        <div class="figType">{{item.status}}</div>
        <h3 class="osLight" id="titlehome" tooltip="item.title" title="{{item.title}}">{{item.title}}</h3>
        <div class="address" id="addresshome">{{item.address}}</div>
        <ul class="rating" style="left: 47%">
          <!--<li *ngFor="let rating of ratings(item.rate)"><span class="fa fa-star"></span></li>
          <li *ngFor="let rating of ratings(5-item.rate)"><span class="fa fa-star-o"></span></li>-->
          <star-rating-comp [rating]="item.rate" [staticColor]="'ok'" [readOnly]="true" [starType]="'icon'"></star-rating-comp>
        </ul>
      </div>
    </a>
  </div>
</div>