<div class="row pb40">
  <div *ngIf='!status'>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <a class=" item-padding propWidget-2">
        <div class="fig">
          <div class="animated-background facebook ">
            <div class="background-masker header-top"></div>
            <div class="background-masker header-left"></div>
            <div class="background-masker header-right"></div>
            <div class="background-masker header-bottom"></div>
            <div class="background-masker subheader-left"></div>
            <div class="background-masker subheader-right"></div>
            <div class="background-masker subheader-bottom"></div>
            <div class="background-masker content-top"></div>
            <div class="background-masker content-first-end"></div>
            <div class="background-masker content-second-line"></div>
            <div class="background-masker content-second-end"></div>
            <div class="background-masker content-first-end"></div>
            <div class="background-masker content-third-line"></div>
            <div class="background-masker content-third-end"></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <a class=" item-padding propWidget-2">
        <div class="fig">
          <div class="animated-background facebook ">
            <div class="background-masker header-top"></div>
            <div class="background-masker header-left"></div>
            <div class="background-masker header-right"></div>
            <div class="background-masker header-bottom"></div>
            <div class="background-masker subheader-left"></div>
            <div class="background-masker subheader-right"></div>
            <div class="background-masker subheader-bottom"></div>
            <div class="background-masker content-top"></div>
            <div class="background-masker content-first-end"></div>
            <div class="background-masker content-second-line"></div>
            <div class="background-masker content-second-end"></div>
            <div class="background-masker content-first-end"></div>
            <div class="background-masker content-third-line"></div>
            <div class="background-masker content-third-end"></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <a class=" item-padding propWidget-2">
        <div class="fig">
          <div class="animated-background facebook ">
            <div class="background-masker header-top"></div>
            <div class="background-masker header-left"></div>
            <div class="background-masker header-right"></div>
            <div class="background-masker header-bottom"></div>
            <div class="background-masker subheader-left"></div>
            <div class="background-masker subheader-right"></div>
            <div class="background-masker subheader-bottom"></div>
            <div class="background-masker content-top"></div>
            <div class="background-masker content-first-end"></div>
            <div class="background-masker content-second-line"></div>
            <div class="background-masker content-second-end"></div>
            <div class="background-masker content-first-end"></div>
            <div class="background-masker content-third-line"></div>
            <div class="background-masker content-third-end"></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <a class=" item-padding propWidget-2">
        <div class="fig">
          <div class="animated-background facebook ">
            <div class="background-masker header-top"></div>
            <div class="background-masker header-left"></div>
            <div class="background-masker header-right"></div>
            <div class="background-masker header-bottom"></div>
            <div class="background-masker subheader-left"></div>
            <div class="background-masker subheader-right"></div>
            <div class="background-masker subheader-bottom"></div>
            <div class="background-masker content-top"></div>
            <div class="background-masker content-first-end"></div>
            <div class="background-masker content-second-line"></div>
            <div class="background-masker content-second-end"></div>
            <div class="background-masker content-first-end"></div>
            <div class="background-masker content-third-line"></div>
            <div class="background-masker content-third-end"></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <a class=" item-padding propWidget-2">
        <div class="fig">
          <div class="animated-background facebook ">
            <div class="background-masker header-top"></div>
            <div class="background-masker header-left"></div>
            <div class="background-masker header-right"></div>
            <div class="background-masker header-bottom"></div>
            <div class="background-masker subheader-left"></div>
            <div class="background-masker subheader-right"></div>
            <div class="background-masker subheader-bottom"></div>
            <div class="background-masker content-top"></div>
            <div class="background-masker content-first-end"></div>
            <div class="background-masker content-second-line"></div>
            <div class="background-masker content-second-end"></div>
            <div class="background-masker content-first-end"></div>
            <div class="background-masker content-third-line"></div>
            <div class="background-masker content-third-end"></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <a class=" item-padding propWidget-2">
        <div class="fig">
          <div class="animated-background facebook ">
            <div class="background-masker header-top"></div>
            <div class="background-masker header-left"></div>
            <div class="background-masker header-right"></div>
            <div class="background-masker header-bottom"></div>
            <div class="background-masker subheader-left"></div>
            <div class="background-masker subheader-right"></div>
            <div class="background-masker subheader-bottom"></div>
            <div class="background-masker content-top"></div>
            <div class="background-masker content-first-end"></div>
            <div class="background-masker content-second-line"></div>
            <div class="background-masker content-second-end"></div>
            <div class="background-masker content-first-end"></div>
            <div class="background-masker content-third-line"></div>
            <div class="background-masker content-third-end"></div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div *ngIf='status'>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let item of listhomehouses">
      <a [routerLink]="['/details/detail-house/'+ item._id]" class="propWidget-2">
        <div class="fig">
          <img src="{{item.image}}" alt="Modern Residence in New York">
          <img class="blur" src="{{item.image}}" alt="Modern Residence in New York">
          <div class="opac"></div>
          <div class="priceCap osLight"><span>{{item.price |currency:'VND':true}}</span></div>
          <div class="figType">{{item.status}}</div>
          <h3 class="osLight" id="titlehome" tooltip="item.title" title="{{item.title}}">{{item.title}}</h3>
          <div class="address" id="addresshome">{{item.address}}</div>
          <ul class="rating" style="left: 47%">
            <star-rating-comp [rating]="item.rate" [staticColor]="'ok'" [readOnly]="true" [starType]="'icon'"></star-rating-comp>
          </ul>
        </div>
      </a>
    </div>
  </div>
</div>