<div id="wrapper">
  <div id="mapView">
    <div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div>
  </div>
  <div id="content">
    <div class="filter">
      <h1 class="osLight">LỌC</h1>
      <a href="#" class="handleFilter"><span class="icon-equalizer"></span></a>
      <div class="clearfix"></div>
      <form class="filterForm">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 formItem">
            <div class="formField">
              <label>Thành phố/ Tỉnh</label>
              <a href="#" data-toggle="dropdown" class="btn btn-gray dropdown-btn dropdown-toggle propTypeSelect">
                <span class="dropdown-label">All</span>
                <span class="fa fa-angle-down dsArrow"></span>
              </a>
              <ul class="dropdown-menu dropdown-select full" role="menu">
                <li class="active"><input type="radio" name="pType" checked="checked"><a href="#">TP HCM</a></li>
                <li><input type="radio" name="pType"><a href="#">Hà Nội</a></li>
                <li><input type="radio" name="pType"><a href="#">Quảng Ngãi</a></li>
                <li><input type="radio" name="pType"><a href="#">Quy Nhơn</a></li>
                <li><input type="radio" name="pType"><a href="#">Hà Nội</a></li>
                <li><input type="radio" name="pType"><a href="#">Quảng Ngãi</a></li>
                <li><input type="radio" name="pType"><a href="#">Quy Nhơn</a></li>
                <li><input type="radio" name="pType"><a href="#">Hà Nội</a></li>
                <li><input type="radio" name="pType"><a href="#">Quảng Ngãi</a></li>
                <li><input type="radio" name="pType"><a href="#">Quy Nhơn</a></li>
                <li><input type="radio" name="pType"><a href="#">Hà Nội</a></li>
                <li><input type="radio" name="pType"><a href="#">Quảng Ngãi</a></li>
                <li><input type="radio" name="pType"><a href="#">Quy Nhơn</a></li>
                <li><input type="radio" name="pType"><a href="#">Hà Nội</a></li>
                <li><input type="radio" name="pType"><a href="#">Quảng Ngãi</a></li>
                <li><input type="radio" name="pType"><a href="#">Quy Nhơn</a></li>

              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 formItem">
            <div class="formField">
              <label>Quận/ Huyện</label>
              <a href="#" data-toggle="dropdown" class="btn btn-gray dropdown-btn dropdown-toggle propTypeSelect">
                <span class="dropdown-label">All</span>
                <span class="fa fa-angle-down dsArrow"></span>
              </a>
              <ul class="dropdown-menu dropdown-select full" role="menu">
                <li class="active"><input type="radio" name="pType" checked="checked"><a href="#">Thủ Đức</a></li>
                <li><input type="radio" name="pType"><a href="#">Tân Phú</a></li>
                <li><input type="radio" name="pType"><a href="#">Tân Bình</a></li>
                <li><input type="radio" name="pType"><a href="#">Bình Tân</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 formItem">
            <div class="formField">
              <label>Phường/ Xã</label>
              <a href="#" data-toggle="dropdown" class="btn btn-gray dropdown-btn dropdown-toggle propTypeSelect">
                <span class="dropdown-label">All</span>
                <span class="fa fa-angle-down dsArrow"></span>
              </a>
              <ul class="dropdown-menu dropdown-select full" role="menu">
                <li class="active"><input type="radio" name="pType" checked="checked"><a href="#">Bình Thọ</a></li>
                <li><input type="radio" name="pType"><a href="#">Linh Chiểu</a></li>
                <li><input type="radio" name="pType"><a href="#">Linh Trung</a></li>
                <li><input type="radio" name="pType"><a href="#">Trường Thọ</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 formItem">

          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 formItem">
            <div class="formField">
              <label>Giá</label>
              <div class="slider priceSlider">
                <div class="sliderTooltip">
                  <div class="stArrow"></div>
                  <div class="stLabel"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="resultsList">
      <!--<div class="row" *ngIf='houses'>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" *ngFor='let house of houses'>
          <a [routerLink]="['/details/detail-house/'+ house._id]" class="card">
            <div class="figure">
              <img src="{{house._source.image}}" alt="image">
              <div class="figCaption">
                <div>{{house._source.price|currency:'VND':true}}</div>
              </div>
              <div class="figView"><span class="icon-eye"></span></div>
              <div class="figType">{{house._source.status}}</div>
            </div>
            <h2>{{house._source.title}}</h2>
            <div class="cardAddress"><span class="icon-pointer"></span> {{house._source.address}}</div>
            <div class="cardRating">
              <star-rating-comp [rating]="house._source.rate" [direction]="rtl" [readOnly]="true" [starType]="'icon'" [size]="'small'"></star-rating-comp>
            </div>
            <ul class="cardFeat">
              <li><span class="icon-tag"></span> {{house._source.price|currency:'VND':true}}</li>
              <li><span class="icon-users"></span> 4</li>
              <li><span class="icon-frame"></span> {{house._source.range| number}}</li>
            </ul>
            <div class="clearfix"></div>
          </a>
        </div>
      </div>-->
      <div class="row" *ngIf='houses'>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" *ngFor='let house of houses'>
          <a [routerLink]="['/details/detail-house/'+ house._id]" class="propWidget-1">
            <div class="fig">
              <img src="{{house._source.image}}" alt="image">
              <div class="priceCap"><span class="price text-red"><strong>{{house._source.price|currency:'VND':true}}</strong></span></div>
              <div class="figType">{{house._source.status}}</div>
              <div class="figCap">
                <h3>{{house._source.title}}</h3>
                <div class="address">{{house._source.address}}</div>
                <div class="feat feat-1"><span class="icon-calendar"></span> {{house._source.create_date|amTimeAgo}}</div>
                <div class="feat feat-2"><span class="icon-star"></span> {{house._source.rate}}</div>
                <div class="feat feat-3"><span class="icon-frame"></span> {{house._source.range| number}} m<sup>2</sup> </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <ul class="pagination">
        <li class="disabled"><a href="#"><span class="fa fa-angle-left"></span></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"><span class="fa fa-angle-right"></span></a></li>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
</div>