<div id="wrapper">
  <div id="mapView">
    <div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div>
  </div>
  <div id="content">
    <div class="filter">
      <h1 class="osLight">LỌC</h1>
      <a href="#" class="handleFilter"><span class="icon-equalizer"></span></a>
      <div class="clearfix"></div>
      <form class="filterForm">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 formItem">
            <div class="formField">
              <label>Thành phố/ Tỉnh</label>
              <a href="#" data-toggle="dropdown" class="btn btn-gray dropdown-btn dropdown-toggle propTypeSelect">
                <span class="dropdown-label">All</span>
                <span class="fa fa-angle-down dsArrow"></span>
              </a>
              <ul class="dropdown-menu dropdown-select full" role="menu">
                <li class="active"><input type="radio" name="pType" checked="checked"><a href="#">TP HCM</a></li>
                <li><input type="radio" name="pType"><a href="#">Hà Nội</a></li>
                <li><input type="radio" name="pType"><a href="#">Quảng Ngãi</a></li>
                <li><input type="radio" name="pType"><a href="#">Quy Nhơn</a></li>
                 <li><input type="radio" name="pType"><a href="#">Hà Nội</a></li>
                <li><input type="radio" name="pType"><a href="#">Quảng Ngãi</a></li>
                <li><input type="radio" name="pType"><a href="#">Quy Nhơn</a></li>
                 <li><input type="radio" name="pType"><a href="#">Hà Nội</a></li>
                <li><input type="radio" name="pType"><a href="#">Quảng Ngãi</a></li>
                <li><input type="radio" name="pType"><a href="#">Quy Nhơn</a></li>
                 <li><input type="radio" name="pType"><a href="#">Hà Nội</a></li>
                <li><input type="radio" name="pType"><a href="#">Quảng Ngãi</a></li>
                <li><input type="radio" name="pType"><a href="#">Quy Nhơn</a></li>
                 <li><input type="radio" name="pType"><a href="#">Hà Nội</a></li>
                <li><input type="radio" name="pType"><a href="#">Quảng Ngãi</a></li>
                <li><input type="radio" name="pType"><a href="#">Quy Nhơn</a></li>
                
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 formItem">
            <div class="formField">
              <label>Quận/ Huyện</label>
              <a href="#" data-toggle="dropdown" class="btn btn-gray dropdown-btn dropdown-toggle propTypeSelect">
                <span class="dropdown-label">All</span>
                <span class="fa fa-angle-down dsArrow"></span>
              </a>
              <ul class="dropdown-menu dropdown-select full" role="menu">
                <li class="active"><input type="radio" name="pType" checked="checked"><a href="#">Thủ Đức</a></li>
                <li><input type="radio" name="pType"><a href="#">Tân Phú</a></li>
                <li><input type="radio" name="pType"><a href="#">Tân Bình</a></li>
                <li><input type="radio" name="pType"><a href="#">Bình Tân</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 formItem">
            <div class="formField">
              <label>Phường/ Xã</label>
              <a href="#" data-toggle="dropdown" class="btn btn-gray dropdown-btn dropdown-toggle propTypeSelect">
                <span class="dropdown-label">All</span>
                <span class="fa fa-angle-down dsArrow"></span>
              </a>
              <ul class="dropdown-menu dropdown-select full" role="menu">
                <li class="active"><input type="radio" name="pType" checked="checked"><a href="#">Bình Thọ</a></li>
                <li><input type="radio" name="pType"><a href="#">Linh Chiểu</a></li>
                <li><input type="radio" name="pType"><a href="#">Linh Trung</a></li>
                <li><input type="radio" name="pType"><a href="#">Trường Thọ</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 formItem">

          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 formItem">
            <div class="formField">
              <label>Giá</label>
              <div class="slider priceSlider">
                <div class="sliderTooltip">
                  <div class="stArrow"></div>
                  <div class="stLabel"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="resultsList">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <a [routerLink]="['/details/detaisl-house']" class="card">
            <div class="figure">
              <img src="./assets/images/prop/1-1-2.png" alt="image">
              <div class="figCaption">
                <div>$1,550,000 đ</div>
                <span class="icon-eye"> 200</span>
                <span class="icon-heart"> 54</span>
                <span class="icon-bubble"> 13</span>
              </div>
              <div class="figView"><span class="icon-eye"></span></div>
              <div class="figType">Còn phòng</div>
            </div>
            <h2>Phòng sạch đẹp, thoáng mát, an ninh</h2>
            <div class="cardAddress"><span class="icon-pointer"></span> 1/4 Võ Văn Ngân, Linh Chiểu, Thủ Đức, TP HCM</div>
            <div class="cardRating">
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star-o"></span> (146)
            </div>
            <ul class="cardFeat">
              <li><span class="icon-tag"></span> 1,550,000 đ</li>
              <li><span class="icon-users"></span> 4</li>
              <li><span class="icon-frame"></span> 250 m2</li>
            </ul>
            <div class="clearfix"></div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <a href="single.html" class="card">
            <div class="figure">
              <img src="./assets/images/prop/2-1-2.png" alt="image">
              <div class="figCaption">
                <div>$1,750,000 đ</div>
                <span class="icon-heart"> 67</span>
                <span class="icon-bubble"> 9</span>
              </div>
              <div class="figView"><span class="icon-eye"></span></div>
              <div class="figType">Còn phòng</div>
            </div>
            <h2>Phòng có đầy đủ tiện nghi, nữ thuê</h2>
            <div class="cardAddress"><span class="icon-pointer"></span> 40 Lê Văn Việt, Tăng Nhơn Phú A, Quận 9, TP HCM</div>
            <div class="cardRating">
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span> (123)
            </div>
            <ul class="cardFeat">
              <li><span class="icon-tag"></span> 1,750,000 đ</li>
              <li><span class="icon-users"></span> 2</li>
              <li><span class="icon-frame"></span> 200 m2</li>
            </ul>
            <div class="clearfix"></div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <a href="single.html" class="card">
            <div class="figure">
              <img src="./assets/images/prop/3-1-2.png" alt="image">
              <div class="figCaption">
                <div>$1,340,000 đ</div>
                <span class="icon-heart"> 87</span>
                <span class="icon-bubble"> 12</span>
              </div>
              <div class="figView"><span class="icon-eye"></span></div>
              <div class="figType">Còn phòng</div>
            </div>
            <h2>Phòng hơi cũ, giá rẻ</h2>
            <div class="cardAddress"><span class="icon-pointer"></span> 12 Lã Xuân Oai, Long Trường, Quận 9, TP HCM</div>
            <div class="cardRating">
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span> (120)
            </div>
            <ul class="cardFeat">
              <li><span class="icon-tag"></span> 1,340,000 đ</li>
              <li><span class="icon-users"></span> 3</li>
              <li><span class="icon-frame"></span> 300 m2</li>
            </ul>
            <div class="clearfix"></div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <a href="single.html" class="card">
            <div class="figure">
              <img src="./assets/images/prop/4-1-2.png" alt="image">
              <div class="figCaption">
                <div>$1,930,000 đ</div>
                <span class="icon-heart"> 99</span>
                <span class="icon-bubble"> 25</span>
              </div>
              <div class="figView"><span class="icon-eye"></span></div>
              <div class="figType">Còn phòng</div>
            </div>
            <h2>Nhà mặt tiền, gần trạm xe buýt</h2>
            <div class="cardAddress"><span class="icon-pointer"></span> 100 Võ Văn Ngân, Bình Thọ, Quận Thủ Đức, TP HCM</div>
            <div class="cardRating">
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star-o"></span> (170)
            </div>
            <ul class="cardFeat">
              <li><span class="icon-tag"></span> 1,930,000 đ</li>
              <li><span class="icon-users"></span> 2</li>
              <li><span class="icon-frame"></span> 200 m2</li>
            </ul>
            <div class="clearfix"></div>
          </a>
        </div>
      </div>
      <ul class="pagination">
        <li class="disabled"><a href="#"><span class="fa fa-angle-left"></span></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"><span class="fa fa-angle-right"></span></a></li>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
</div>