#menu-provinces{
    max-height: 150px;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 0px;
}

.caret {
	float: right;
    margin-top: 5%;
    margin: 5px;
}
.logo-header{
    width: 60px;
    height: 40px;
}