<div class="main-content">
    <div class="container-fluid">
        <div class="row" *ngIf="!showEdit">
            <div class="col-md-12">
                <div class="card">
                    <form class="form-horizontal" #formaddroomtype="ngForm" (ngSubmit)="SaveAdd(formaddroomtype)">
                        <div class="card-header card-header-text" data-background-color="rose">
                            <h4 class="card-title">Add new type of rooms</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Title</label>
                                <div class="col-sm-8">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" required name="title" [(ngModel)]="roomtype.title">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">description</label>
                                <div class="col-sm-8">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <textarea class="form-control" rows="5" value name="description" [(ngModel)]="roomtype.description" placeholder="Nhà trọ mới xây, sạch đẹp, có trang bị nhiều dụng cụ: quạt, đèn, bếp. Gần chợ, gần trạm xe buýt, gần nhiều trường đại học. Thuận tiện cho sinh viên"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Number of people</label>
                                <div class="col-sm-4">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="number" class="form-control text-center" placeholder="4" required name="no_people" [(ngModel)]="roomtype.no_people">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Device</label>
                                <div class="col-sm-8">

                                    <div class="col-sm-4 checkbox-radios" *ngFor="let item of devices">
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" name="optionsCheckboxes"  value="{{item.id}}" [checked]="item.checked" (click)="pushdevice(item.id)">
                                             {{item.name}}
                                        </label>
                                        </div>
                                    </div>

                                </div>
                                <label class="col-sm-2"></label>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-xs-offset-4 col-md-offset-5">
                                    <div class="form-group form-button">
                                        <button type="submit" [disabled]="!formaddroomtype.form.valid" class="btn btn-fill btn-success"><i class="material-icons">add_circle</i> Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="showEdit">
            <div class="col-md-12">
                <div class="card">
                    <form class="form-horizontal" #formupdateroomtype="ngForm" (ngSubmit)="SaveUpdate(roomtype.id) ">
                        <div class="card-header card-header-text" data-background-color="rose">
                            <h4 class="card-title">Update type of rooms</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Title</label>
                                <div class="col-sm-8">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" required name="title" [(ngModel)]="roomtype.title">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">description</label>
                                <div class="col-sm-8">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <textarea class="form-control" rows="5" name="description" [(ngModel)]="roomtype.description" placeholder="Nhà trọ mới xây, sạch đẹp, có trang bị nhiều dụng cụ: quạt, đèn, bếp. Gần chợ, gần trạm xe buýt, gần nhiều trường đại học. Thuận tiện cho sinh viên"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Number of people</label>
                                <div class="col-sm-4">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="number" class="form-control text-center" placeholder="4" required name="no_people" [(ngModel)]="roomtype.no_people">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Device</label>
                                <div class="col-sm-8">
                                    <div class="col-sm-4 checkbox-radios" *ngFor="let item of devices">
                                        <div class="checkbox" *ngFor="let abc of roomtype.device">
                                            <label>
                                            <input type="checkbox" value="{{item.id}}"  [checked]="abc.id_device===item.id ? true : false" (click)="pushdevice(item.id)">
                                             {{item.name}}
                                        </label>
                                        </div>
                                    </div>

                                </div>
                                <label class="col-sm-2"></label>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-xs-offset-4 col-md-offset-5">
                                    <div class="form-group form-button">
                                        <button type="submit" [hidden]="true" [disabled]="!formupdateroomtype.form.valid" class="btn btn-fill btn-success">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">list</i>
                    </div>
                    <h3 class="card-title">Room's type</h3>
                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Title</th>
                                        <th class="text-center">No_people</th>
                                        <th class="text-center">No_room</th>
                                        <th class="text-center">Device</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let aroom of roomtypes; let i=index">
                                        <td class="text-center">{{i+1}}</td>
                                        <td>{{aroom.title}}</td>
                                        <td class="text-center">{{aroom.no_people}}</td>
                                        <td class="text-center">{{aroom.no_room}}</td>
                                        <td>
                                            <span *ngFor="let itemDevice of aroom.device">
                                                <span *ngFor="let abc of devices">
                                                    <span *ngIf="abc.id===itemDevice.id_device">{{abc.name}};</span>
                                            </span>
                                            </span>
                                        </td>
                                        <td class="td-actions text-center">
                                            <button type="button" rel="tooltip" class="btn btn-success" (click)="EditFunction(aroom.id)">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button type="button" rel="tooltip" class="btn btn-danger" (click)="Delete(aroom.id)">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>