<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Admin| Login </title>

  <!-- Bootstrap -->
  <link href="public/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="public/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="public/vendors/nprogress/nprogress.css" rel="stylesheet">
  <!-- Animate.css -->
  <link href="public/vendors/animate.css/animate.min.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="public/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
  <div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <form method="post" action="/admin/login">
            <h1>Login Admin Form</h1>
            <div>
              <input type="text" class="form-control" name="username" placeholder="Username or Email" required="" />

            </div>
            <div>
              <input type="password" class="form-control" name="password" placeholder="Password" required="" />
            </div>
            <div>
              <button type="submit" class="btn btn-default submit">Log in</button>
              <a class="reset_pass" href="#">Lost your password?</a>
            </div>

            <div class="clearfix"></div>

            <div class="separator">

              {{#if success_msg}}
              <div class="alert alert-success">{{success_msg}}</div>
              {{/if}} {{#if error_msg}}
              <div class="alert alert-danger">{{error_msg}}</div>
              {{/if}} {{#if error}}
              <div class="alert alert-danger">{{error}}</div>
              {{/if}}


              <br />

              <div>
                <h1><i class="fa fa-home"></i> Management System Administrator!</h1>
                <p>©2017 All Rights Reserved. FSL.IO System Management Professional - Bootstrap Admin Template by <a href="#">TA & TN</a>                  </p>
              </div>
            </div>
          </form>
        </section>
      </div>

    </div>
  </div>

  <!-- jQuery -->
  <script src="public/vendors/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="public/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- jQuery Tags Input -->
  <script src="public/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
  <!-- Switchery -->
  <script src="public/vendors/switchery/dist/switchery.min.js"></script>
  <!-- Select2 -->
  <script src="public/vendors/select2/dist/js/select2.full.min.js"></script>
  <!-- Parsley -->
  <script src="public/vendors/parsleyjs/dist/parsley.min.js"></script>
  <!-- Custom Theme Scripts -->
  <script src="public/build/js/custom.min.js"></script>
</body>

</html>