<div class="row text-center">
  <iframe width="420" height="315" src="https://www.youtube.com/embed/vSSt2KMydDA?autoplay=1">
  </iframe>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="home-testim-text"> &nbsp; &nbsp; &nbsp; &nbsp; Nếu trước đây việc tìm kiếm nhà, cho thuê phòng trọ chỉ đăng tin một cách đơn giản. Hãy đến
      với <strong>FSL website </strong> để trải nghiệm việc tìm kiếm đơn giản hơn, thân thiện hơn. Với nhiều tính năng mà
      không thể tìm ở nhưng trang khác.
    </div>
  </div>
  <div class="col-md-2"></div>
</div>