<div class="row pb40">
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 s-menu-item">
    <a href="#">
      <span class="icon-pointer s-icon"></span>
      <div class="s-content">
        <h2 class="s-main osLight">Tìm kiếm mọi nơi</h2>
        <h3 class="s-sub osLight">Hỗ trợ tìm kiếm nhà trọ mọi nơi, theo quận, huyện, thành phố</h3>
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 s-menu-item">
    <a href="#">
      <span class="icon-users s-icon"></span>
      <div class="s-content">
        <h2 class="s-main osLight">Liên hệ với chủ trọ</h2>
        <h3 class="s-sub osLight">Hỗ trợ chat trực tuyến, gọi điện thoại, bình luận trực tiếp</h3>
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 s-menu-item">
    <a href="#">
      <span class="icon-home s-icon"></span>
      <div class="s-content">
        <h2 class="s-main osLight">Đặt chỗ trước</h2>
        <h3 class="s-sub osLight">Hỗ trợ người dùng giữ chỗ, giúp thời gian giao dịch được thoải mái hơn</h3>
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 s-menu-item">
    <a href="#">
      <span class="icon-directions s-icon"></span>
      <div class="s-content">
        <h2 class="s-main osLight">Tính năng chỉ đường</h2>
        <h3 class="s-sub osLight">Hỗ trợ người dùng định hướng đường đi, kết hợp GPS định vị vị trí hiện tại</h3>
      </div>
    </a>
  </div>
</div>