<div class="starter-template">
	<h1>APIs app</h1>
	<p class="lead"> Danh sách các api: https://docs.google.com/spreadsheets/d/1bcg1I4AMvPAy8MtbgL0Ev64xBsBg8LjStoK9UHw1_m4</p>
	{{!--<p class="lead">Vượt qua tất cả!.<br> Ta sẽ bên nhau haha ^^_^^!--}}
	</p>
</div>