/* You can add global styles to this file, and also import other style files */
#scroll-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    background: rgba(66,139,202,0.8);
    padding: 6px 12px 9px;
    color: #fff;
    display: none;
}