<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div>
                <h3 class="title text-center">Management Rooms</h3>
                <br />
                <div class="nav-center">
                    <ul class="nav nav-pills nav-pills-warning nav-pills-icons" role="tablist">
                        <!--color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"-->
                        <li>
                            <a href="#manageroom_create" role="tab" data-toggle="tab">
                                <i class="material-icons">playlist_add</i> Create rooms
                            </a>
                        </li>
                        <li class="active">
                            <a href="#managerroom_detail" role="tab" data-toggle="tab">
                                <i class="material-icons">create</i> Detail rooms
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane" id="manageroom_create">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="card">
                                    <form class="form-horizontal" #formcreateroom="ngForm" (ngSubmit)="CreateRoom()">
                                        <div class="card-header card-header-text" data-background-color="rose">
                                            <h4 class="card-title">Add new room</h4>
                                        </div>
                                        <div class="card-content">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-sm-4 label-on-left">Room code</label>
                                                        <div class="col-sm-8">
                                                            <div class="form-group label-floating is-empty">
                                                                <label class="control-label"></label>
                                                                <input type="text" class="form-control" required placeholder="Room_" name="title" [(ngModel)]="newroom.title">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-4 label-on-left">Room's price:</label>
                                                        <div class="col-sm-8">
                                                            <div class="form-group label-floating is-empty">
                                                                <label class="control-label"></label>
                                                                <input type="number" class="form-control" required placeholder="3,000,000" name="room_price" [(ngModel)]="newroom.room_price">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-4 label-on-left">Number of room create:</label>
                                                        <div class="col-sm-8">
                                                            <div class="form-group label-floating is-empty">
                                                                <label class="control-label"></label>
                                                                <input type="number" class="form-control" required placeholder="10" name="no_room" [(ngModel)]="newroom.no_room">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-4 label-on-left">Room's type</label>
                                                        <div class="col-sm-8">
                                                            <div class="col-lg-10 col-md-8 col-sm-6">
                                                                <select class="select2-dropdown" data-style="select-with-transition" required name="id_roomtype" data-size="3" [(ngModel)]="newroom.id_roomtype">
                                                                    <option class="text-right" disabled selected="true" value="undefined">Choose Room Type</option>
                                                                    <option class="text-right" *ngFor="let roomtype of roomtypes" [ngValue]="roomtype._id" >{{roomtype.title}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-4 label-on-left">House</label>
                                                        <div class="col-sm-8">
                                                            <div class="col-lg-10 col-md-8 col-sm-6">
                                                                <select class="select2-dropdown" data-style="select-with-transition" required name="id_house" data-size="3" [(ngModel)]="newroom.id_house">
                                                                    <option class="text-right" disabled selected="true" value="undefined">Choose House</option>
                                                                    <option class="text-right" *ngFor="let house of houses" [ngValue]="house._id" >{{house.title}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-2 label-on-left">Image:</label>
                                                    </div>
                                                    <div class="row">
                                                        <div class="fileinput fileinput-new text-center col-md-9 col-xs-offset-2" data-provides="fileinput">
                                                            <div class="fileinput-new thumbnail">
                                                                <img src="../../assets/img/image_placeholder.jpg" alt="...">
                                                            </div>
                                                            <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                                            <div>
                                                                <span class="btn btn-rose btn-round btn-file">
                                                                <span class="fileinput-new">Select image</span>
                                                                <span class="fileinput-exists">Change</span>
                                                                <input type="file" name="image" (change)="fileChangeEvent($event)" />
                                                                </span>
                                                                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2 col-xs-offset-4 col-md-offset-5">
                                                    <div class="form-group form-button">
                                                        <button type="submit" [disabled]="!formcreateroom.form.valid" class="btn btn-fill btn-success"><i class="material-icons">add_circle</i> Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="managerroom_detail">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-icon" data-background-color="purple">
                                        <i class="material-icons">assignment</i>
                                    </div>
                                    <div class="card-content">
                                        <h3 class="card-title">Detail of room</h3>
                                        <div class="toolbar">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="col-lg-10 col-md-8 col-sm-6">
                                                        <select class="select2-dropdown" data-style="select-with-transition" data-size="3" [(ngModel)]="loadhousebyid" (ngModelChange)="LoadTablebyId()">
                                                    <option class="text-left" *ngFor="let house of houses" [ngValue]="house._id" >{{house.title}}</option>
                                                    </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="material-datatables">
                                            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>Room</th>
                                                        <th>Customer</th>
                                                        <th>Identity Card</th>
                                                        <th>Date</th>
                                                        <th class="text-center">Status</th>
                                                        <th class="disabled-sorting text-center">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let rm of rooms">
                                                        <td>{{rm.title}}</td>
                                                        <td>{{rm._id}}</td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center">
                                                            <button type="button" rel="tooltip" class="btn btn-simple btn-warning btn-icon">
                                                                <i class="material-icons">home</i>
                                                            </button>
                                                        </td>
                                                        <td class="text-center">
                                                            <button type="button" rel="tooltip" [routerLink]="['/dashboard/managerooms/roomdetail/' + rm._id]" class="btn btn-simple btn-success btn-icon">
                                                                <i class="material-icons">dvr</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" [routerLink]="['/dashboard/managerooms/roomdetail/' + rm._id]" class="btn btn-simple btn-behance btn-icon">
                                                                <i class="material-icons">border_color</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" class="btn btn-simple btn-danger btn-icon" (click)="Delete(rm._id)">
                                                                <i class="material-icons">delete_forever</i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- end content-->
                                </div>
                                <!--  end card  -->
                            </div>
                            <!-- end col-md-12 -->
                        </div>
                        <!-- end row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>