<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                <div class="card card-content text-center">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">description</i>
                    </div>
                    <div class="card-content">
                        <h3 class="card-title">Landlord House Information</h3>
                        <div class="col-md-12 form-horizontal">

                            <div class="row">
                                <label class="col-md-2 label-on-right">Title house:</label>
                                <div class="col-md-9">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <div class="form-control text-left">{{house?.title}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2 label-on-right">Area range:</label>
                                <div class="col-md-2">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <div class="form-control text-right">{{house?.range | number}}</div>
                                    </div>
                                </div>
                                <div class="col-md-1 text-left">
                                    <label class="label-on-left">m2</label>
                                </div>
                                <div class="col-md-2"></div>
                                <label class="col-md-1 label-on-right">Price:</label>
                                <div class="col-md-2">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <div class="form-control text-right">{{house?.price | number}}</div>
                                    </div>
                                </div>
                                <div class="col-md-1 text-left">
                                    <label class="label-on-right">VND</label>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2 label-on-right">Status house:</label>
                                <div class="col-md-2">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <div class="form-control">{{house?.status}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row"><label class="col-md-2 label-on-right">Price services: </label></div>
                            <div class="row">
                                <label class="col-md-2 label-on-right">Electricity price:</label>
                                <div class="col-md-2">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <div class="form-control text-right">{{house?.service_price.electricity_price | number}}</div>
                                    </div>
                                </div>
                                <div class="col-md-1 text-left">
                                    <label class="label-on-left">VND/KWh</label>
                                </div>
                                <div class="col-md-1"></div>
                                <label class="col-md-2 label-on-right">Water price:</label>
                                <div class="col-md-2">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <div class="form-control text-right">{{house?.service_price.water_price | number}}</div>
                                    </div>
                                </div>
                                <div class="col-md-1 text-left">
                                    <label class="label-on-left">VND/m3</label>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2 label-on-right">Internet price:</label>
                                <div class="col-md-2">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <div class="form-control text-right">{{house?.service_price.internet_price | number}}</div>
                                    </div>
                                </div>
                                <div class="col-md-1 text-left">
                                    <label class="label-on-left">VND/month</label>
                                </div>
                                <div class="col-md-1"></div>
                                <label class="col-md-2 label-on-right">Garbage price:</label>
                                <div class="col-md-2">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <div class="form-control text-right">{{house?.service_price.garbage_price | number}}</div>
                                    </div>
                                </div>
                                <div class="col-md-1 text-left">
                                    <label class="label-on-left">VND/month</label>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2 label-on-right">Detail description:</label>
                            </div>
                            <div class="row">
                                <div class="text-left" name="description" [innerHtml]="house?.description"></div>
                            </div>
                            <!--<div class="row">
                                <label class="col-md-2 label-on-right">Device:</label>
                                <div class="col-md-8">
                                    <div class="col-md-12 label-on-right">
                                        <div>
                                            <label>Quạt hơi nước</label>
                                        </div>
                                        <div>
                                            <label>Máy điều hòa</label>
                                        </div>
                                        <div>
                                            <label>Tivi led Samsung 32 in</label>
                                        </div>
                                        <div>
                                            <label>Nồi cơm điện SHAP</label>
                                        </div>
                                    </div>
                                </div>
                            </div>-->

                            <div class="row">
                                <label class="col-md-2 label-on-right">Image:</label>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="fileinput fileinput-new text-center col-md-8 col-xs-offset-0" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail">
                                        <img src="{{house?.image}}">
                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                    <!--<div>
                                        <span class="btn btn-rose btn-round btn-file ">
                                            <span class="fileinput-new">Select image</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" name="..." />
                                        </span>
                                        <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                    </div>-->
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2 label-on-right">Address:</label>
                                <div class="form-group label-floating col-md-10">
                                    <div class="form-control text-left">{{house?.address}}</div>
                                </div>
                                <!--<div class="form-group col-md-1 label-floating">
                                    <a href="javascript:void(0)" class="btn btn-just-icon btn-behance">
                                        <i class="material-icons">find_replace</i>
                                    </a>
                                </div>-->
                            </div>
                            <div id="mymap" class="map"></div>
                            <div class="row">
                                <div class="col-md-12 col-xs-offset-0">
                                    <div class="form-group form-button">
                                        <button type="cancel" class="btn btn-fill btn-behance" [routerLink]="['/dashboard/manageposts/listhouse']">Back</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>